version: "3.9"

services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "9000:9000"
    container_name: my_server
    restart: unless-stopped
    depends_on:
      - postgres
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/postgres
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: 123456

  postgres:
    image: postgres:15
    container_name: my_postgres
    restart: unless-stopped
    ports:
      - "5431:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: postgres
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
      - ./db.sql:/docker-entrypoint-initdb.d/db.sql

  frontend:
    build:
      context: ./my-react-app
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    container_name: my_frontend
    restart: unless-stopped
    depends_on:
      - server
  frontend:
    build:
      context: ./my-react-app
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    container_name: my_frontend
    restart: unless-stopped
    depends_on:
      - server
