version: "3.9"
services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    restart: unless-stopped
version: "3.9"

services:
  postgres:
    image: postgres:latest
    container_name: DA
    restart: no
    ports:
      - "5431:5432"
    environment:
      POSTGRES_PASSWORD: "123456"
      PGDATA: "/var/lib/postgresql/18/docker"
    volumes:
      - db_data:/var/lib/postgresql
    networks:
      - default

volumes:
  db_data:


networks:
  default:
    external: false
