version: "3.9"

services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
      port:s:
        - "5000:5000"
    container_name: my_server
  postgres:
    image: postgres:15
    container_name: my_postgres
    restart: unless-stopped
    ports:
      - "5431:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: postgres
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
      - ./db.sql:/docker-entrypoint-initdb.d/db.sql
