.totalEmployeesCard {
  position: absolute; 
  top: 110px; 
  left: 930px; 
  width: 308px; 
  height: 280px; 
  background: #FFFFFFFF; /* white */
  border-radius: 6px; /* border-l */
  box-shadow: 0px 0px 1px #9b9da012, 0px 0px 2px #9d9e9fb3; /* shadow-xs */
}

.totalEmployeesCard .icon {
  position: absolute; 
  top: 28px; 
  left: 268px; 
  width: 20px; 
  height: 20px; 
  fill: #171A1FFF; /* neutral-900 */
}

.totalEmployeesCard .text{
  position: absolute; 
  top: 10px; 
  left: 20px; 
  font-family: Baloo 2; /* Heading */
  font-size: 18px; 
  line-height: 28px; 
  font-weight: 600; 
  color: #0F0A62FF; 
}

.totalEmployeesCard .chart{
    position: absolute; 
    top: 60px; 
    left: 34px; 
    width: 240px; 
    height: 120px; 
    border-radius: 0px; 
}

.totalEmployeesCard .chart .text-chart1{
    position: absolute; 
  top: 70px; 
  left: 110px; 
  font-family: Outfit; /* Body */
  font-size: 12px; 
  line-height: 20px; 
  font-weight: 400; 
  color: #9095A0FF; /* neutral-500 */
}

.totalEmployeesCard .chart .text-chart2{
    position: absolute; 
  top: 80px; 
  left: 100px; 
  font-family: Baloo 2; /* Body */
  font-size: 18px; 
  line-height: 28px; 
  font-weight: 700; 
  color: #323842FF;
}

.totalEmployeesCard .fulltime{
  position: absolute; 
  top: 200px; 
  left: 80px; 
  font-family: Outfit; /* Body */
  font-size: 12px; 
  line-height: 20px; 
  font-weight: 400; 
  color: #9095A0FF; /* neutral-500 */
}

.totalEmployeesCard .freelance{
   position: absolute; 
  top: 200px; 
  left: 190px; 
  font-family: Outfit; /* Body */
  font-size: 12px; 
  line-height: 20px; 
  font-weight: 400; 
  color: #9095A0FF; /* neutral-500 */
}

.totalEmployeesCard .fulltime .percent1{
  position: absolute; 
  top: 0px; 
  left: 0px; 
  font-family: Baloo 2; /* Heading */
  font-size: 18px; 
  line-height: 28px; 
  font-weight: 700; 
  color: #323842FF; /* neutral-700 */
}

.totalEmployeesCard .freelance .percent2{
  position: absolute; 
  top: 0px; 
  left: 0px; 
  font-family: Baloo 2; /* Heading */
  font-size: 18px; 
  line-height: 28px; 
  font-weight: 700; 
  color: #323842FF; /* neutral-700 */
}