.upComingCard {
  position: absolute; 
  top: 110px; 
  left: 32px; 
  width: 870px; 
  height: 280px; 
  background: #FFFFFFFF; /* white */
  border-radius: 6px; /* border-l */
  box-shadow: 0px 0px 1px #171a1f12, 0px 0px 2px #9d9e9fb3; /* shadow-xs */
}